
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #81a1e0;
    color: #222;
    line-height: 1.6;
}

.nav {
    background-color: #ffffff;
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #2b7cff;
}

.nav nav a {
    text-decoration: none;
    color: #333;
    margin-left: 15px;
    font-weight: 500;
}

.nav nav a:hover {
    color: #2b7cff;
}


.container {
    max-width: 1000px;
    margin: 25px auto;
    padding: 0 15px;
}


.hero {
    background: #ffffff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    overflow: auto;
    font-family: cursive; 
    border-radius: ;
}

.hero-img {
    width: 180px;
    float: left; 
    margin-right: 15px;
    border-radius: 10px;
}

.hero-text h1 {
    margin-bottom: 10px;
}

.about-content {
    background: lightblue;
    padding: 20px;
    border: 1px solid #e0e0e0;
    overflow: auto;
    background-color: #81a1e0;
}

.about-img {
    width: 160px;
    float: left; 
    margin-right: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}


.cards {
    display: flex;      
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 260px;
    background-color: #851919;
    padding: 15px;
    border-radius: 8px;
    border: 3px solid #ddd;
}

.card h3 {
    margin-bottom: 8px;
}

.card-1 {
    background-color: #28436a;
    border-color: #b9d6ff;
}

.card-2 {
    background-color: #fff4ec;
    border-color: #ffc9a6;
}

.card-3 {
    background-color: #f0fff5;
    border-color: #bff0cb;
}


.contact-form {
    background:wheat;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    max-width: 650px;
}

.contact-form label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #2b7cff;
}

.btn {
    background-color: #2b7cff;
    color: white;
    padding: 10px 15px;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #1f63cc;
}

.footer {
    text-align: center;
    padding: 20px 0;
    color: #666;
    margin-top: 30px;
}


@media (max-width: 600px) {

    .hero-img,
    .about-img {
        float: none;
        display: block;
        margin: 0 auto 15px;
        width: 50%;
    }

    .cards {
        flex-direction: column;
    }

    .nav nav a {
        margin-left: 8px;
    }
}
